---
import { PortableText } from "astro-portabletext";
import Button from "./Button.astro";
import CalendarIcon from "../assets/svgs/grid.svg";

interface Props {
  content: {
    title: string;
    description: any[];
    link?: string;
    linkText?: string;
    image?: {
      url?: string;
      alt?: string;
    };
  };
}

const { content } = Astro.props;

const { title, description, link, linkText, image } = content;
console.log(image);
---

<section class="bg-white py-16 calendar-section">
  <div class="container mx-auto px-4 flex flex-col items-center">
    <h2
      class="text-4xl font-bold mb-8 font-source-serif-4 text-[80px] leading-[80px] tracking-[0%] animate-on-scroll slide-up"
    >
      {title}
    </h2>
    <div
      class="font-source-serif-4 font-normal text-[20px] leading-1 tracking-[0%] mt-6 text-primary animate-on-scroll slide-up"
    >
      <PortableText value={description} />
    </div>
    <div class="max-w-[350px] mt-8 animate-on-scroll slide-up">
      {
        link && linkText && (
          <Button href={link} class="mt-4" background="primary">
            {linkText}
          </Button>
        )
      }
    </div>

      <div class="animate-on-scroll slide-up mt-8">
        <img
          src={image?.url}
          alt={image?.alt}
          class="w-full h-auto object-cover rounded-lg"
        />
      </div>
  </div>
</section>
