---
import type { FormContent } from '../lib/types';
import Form from './FormFields.astro';

interface Props {
  content: FormContent;
}

const { content } = Astro.props;
const defaultBackgroundImage = "https://cdn.builder.io/api/v1/image/assets/TEMP/c7094393f85dcf0144910aad23a11c09cdf88d27";
const textPosition = content.textPosition || 'left';

console.log(content.type);
---

<div class="container mx-auto px-10">
    <div 
      id={content.id} 
      class={`flex flex-row gap-16 justify-between p-10 w-full min-h-[auto] max-md:flex-col max-md:p-5 ${textPosition === 'right' ? 'flex-row-reverse' : ''}`} 
      transition:animate="fade"
      style="scroll-margin-top: 2rem;"
  >
        <!-- Text Section -->
         {content.description && (
        <div class="flex-1 my-auto w-6/12 max-md:mx-auto max-md:w-[90%]">
          {content.title && (
            <h2 class="text-4xl font-bold font-source-serif-4 max-sm:text-center mb-4">
              {content.title}
            </h2>
          )}
          {content.description && (
            <p class="mb-16 text-xl tracking-tight leading-8 text-black max-w-[676px] max-sm:text-base animate-on-scroll slide-up delay-100">
              {content.description}
            </p>
            )}
            {content.link && (
              <div class="flex gap-8 items-center animate-on-scroll slide-up delay-200">
                <a href={content.link} class="text-2xl font-semibold tracking-tighter leading-9 uppercase text-neutral-900">
                    {content.linkText}
              </a>
              <svg width="141" height="24" viewBox="0 0 141 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow" style="width: 139px; height: 22px">
                  <path d="M139.6 12L1 12" stroke="#121212" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M139.777 12L130.977 23" stroke="#121212" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M139.777 12L130.977 1" stroke="#121212" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
            )}
        </div>
        )}

        <!-- Form Section -->
        <div class="relative w-6/12 max-md:w-full animate-on-scroll slide-up delay-300 rounded-lg mx-auto" style={`background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(${content.backgroundImage?.url || defaultBackgroundImage});  background-size: cover; background-position: center;`}>
            <div class="flex flex-col p-10  size-full max-md:p-5">
              <h2 class="text-4xl font-bold text-white max-sm:text-center">
                  {content.title}
              </h2>

              <Form
                formName={content.type}
                formAction={`/thank-you-${content.type || 'form'}`}
              />
            </div>
        </div>
    </div>
</div>