---
import { PortableText } from "astro-portabletext";
import Button from "./Button.astro";

interface Column {
  title: string;
  description: any[]; // Portable Text blocks
  image?: {
    url?: string;
  };
  link: string;
  linkText: string;
}

interface Props {
  content: {
    sectionTitle: string;
    sectionDescription: any[];
    columns: Column[];
    buttonLabel?: string;
    buttonHref?: string;
  };
}

const { content } = Astro.props;
---

<section class="py-20" transition:animate="fade">
  <div class="container mx-auto px-4">
    <div class="max-w-3xl mx-auto text-center mb-16 animate-on-scroll fade-in">
      <h2 class="text-[50px] font-bold font-source-serif-4 tracking-[-0.03em] text-[#18181B] mb-6" set:html={content.sectionTitle}></h2>
      {content.sectionDescription && (
        <div class="font-source-serif-4 text-[#000] text-[20px] ">
          {content.sectionDescription}
        </div>
      )}
    </div>
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-16 max-w-7xl mx-auto animate-on-scroll fade-in slide-up column-container">
      {content.columns.map((column, index) => (
        <div class={`flex flex-col items-center text-center animate-on-scroll scale-in delay-${index * 100}`}>
          {column.image?.url && (
              <img 
                src={column.image.url} 
                alt={column.title}
                class="w-full h-full object-contain mb-4"
              />
          )}
          <h3 class="text-2xl font-bold mb-4 font-poppins text-[#18181B]" set:html={column.title}></h3>
          <div class="prose prose-lg max-w-none font-poppins text-[#52525B] prose-ul:pl-0 prose-li:pl-0">
            <PortableText value={column.description} />
          </div>
          {column.link && (
            <Button href={column.link} background="primary">{column.linkText}</Button>
          )}
        </div>
      ))}
    </div>
 
    {content.buttonLabel && content.buttonHref && (
      <div class="flex justify-center mt-12">
        <Button href={content.buttonHref} background="primary">{content.buttonLabel}</Button>
      </div>
    )}
  </div>
</section> 
